<!DOCTYPE html>
<html>
<head>
    <title>Complete Profile</title>
    <script>tailwind.config = { darkMode: 'class' }</script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body class="flex justify-center items-center h-screen bg-gray-100 dark:bg-gray-900">

<form method="POST" class="bg-white dark:bg-gray-800 p-6 rounded w-96 shadow">
    <h2 class="text-xl font-bold mb-4 text-center">
        Complete Your Profile
    </h2>

    <input name="first_name" placeholder="First Name"
        required class="w-full border p-2 mb-3">

    <input name="last_name" placeholder="Last Name"
        required class="w-full border p-2 mb-3">

    <input name="username" placeholder="Choose Username"
        required class="w-full border p-2 mb-4">

    <button class="w-full bg-black text-white p-2">
        Continue
    </button>
</form>

</body>
</html>
